# CONFIGURAÇÕES DE REDE
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# BANCO DE DADOS (MySQL)
set mysql_connection_string "mysql://root:1234@127.0.0.1/database?charset=utf8mb4"
set mysql_slow_query_warning 150

# RESOURCES
# Framework base
start vrp

# Pastas organizadas
start [system]
start [weapons]
start [scripts]
start [addons]

# SEGURANÇA & PRIVACIDADE
# Bloqueia ScriptHook (antigos trainers/mod menus)
sv_scriptHookAllowed 0

# Oculta IPs reais no console/logs
sv_endpointprivacy true

# Senha RCON (caso queira permitir controle remoto)
#rcon_password

# INFORMAÇÕES DO SERVIDOR (LISTA FIVEM)
# Palavras-chave para achar o servidor
sets tags "rp, roleplay, creative, network, pvp, br, brasil, brazil, otimizado, fps, foguete, lotus, complexo, santa, paris, tokyo, fusion, space, disney, infinity, fluxo, havana, kush, dubai, brazuka, nexus, capital, one, street, north, meta, Olavo"

# Idioma do servidor
sets locale "pt-BR"

# Ícone do servidor (arquivo .png na raiz da pasta)
load_server_icon server.png

# Master server (deixe vazio para usar o padrão)
sv_master1 ""

# PERMISSÕES
# Adiciona o seu Steam ID ao grupo Admin, garantindo permissões administrativas.
add_principal identifier.steam:STEAMHEX group.admin

# Permite que o grupo "Admin" use todos os comandos do servidor.
add_ace group.admin command allow

# Bloqueia que o grupo "Admin" use o comando "quit" (para evitar que admins desliguem o servidor acidentalmente).
add_ace group.admin command.quit deny

# ONESYNC
set onesync on

# Ativa a população dinâmica (NPCs, pedestres e carros) em servidores OneSync.
set onesync_population true

# Garante que jogadores antigos do servidor sejam migrados para o modo OneSync corretamente.
set onesync_forceMigration true

# Ativa uma correção para um bug específico do OneSync (relacionado ao ID do bug 763185).
set onesync_workaround763185 true

# Melhora performance ao remover temporariamente veículos que estão longe dos jogadores.
set onesync_distanceCullVehicles true

# INCREASES
increase_pool_size "CMoveObject" 75
increase_pool_size "FragmentStore" 14000
increase_pool_size "OcclusionInteriorInfo" 20
increase_pool_size "OcclusionPathNode" 5000
increase_pool_size "OcclusionPortalEntity" 750
increase_pool_size "OcclusionPortalInfo" 750
increase_pool_size "PortalInst" 225
increase_pool_size "ScaleformStore" 200
increase_pool_size "StaticBounds" 5000
increase_pool_size "TxdStore" 26000

# CAPACIDADE DO SERVIDOR
# Desativa efeitos gráficos de perfil (como filtros de câmera).
setr profile_skfx 0

# Ativa sincronização de voz para proximidade entre jogadores.
setr voice_syncData 1

# Usa o áudio nativo do FiveM para voice chat.
setr voice_useNativeAudio true

# CONFIGURAÇÕES DE VOZ (Mumble)
# Quantidade máxima de conexões por IP no Mumble
set mumble_maxClientsPerIP 1024

# Usa apenas range de proximidade (sem canal global)
setr voice_useSendingRangeOnly true

# INFORMAÇÕES DE IDENTIDADE (APARECE NO CONECTAR)
# Nome que aparece na lista do FiveM
sv_hostname "Olavo Network: v3"

# Nome e descrição do projeto
sets sv_projectName "Olavo Network: v3"
sets sv_projectDesc "Desenvolva sua história, viva o momento, divirta-se sem limites."

# Informações adicionais
sets Grupo "Olavo"
sets Desenvolvedor "Olavo"
sets Discord "https://discord.gg/headnanB2D"
sets Site ""

# Banners exibidos no F8 connect e na tela de carregamento
sets banner_detail ""
sets banner_connecting ""

# CAPACIDADE DO SERVIDOR
# Número máximo de jogadores permitidos dependendo do seu plano/servidor
sv_maxClients 1

# Permite que clientes com versões diferentes do FiveM sejam automaticamente atualizados para a versão correta.
sv_replaceExeToSwitchBuilds true

# Força os jogadores a usarem a versão do GTA correspondente (3570 nesse caso).
set sv_enforceGameBuild 3570

# CHAVES OBRIGATÓRIAS
# Steam API Key (necessária para identificação Steam, gerada em https://steamcommunity.com/dev/apikey)
set steam_webApiKey "EBED879CC1310C87A7438A619F4527EB"

# License key do FiveM (gerada no https://portal.cfx.re/)
sv_licenseKey "cfxk_172xvwc6bZoNwVYQGmux8_3xTBr9"

# WEBHOOKLOGS
setr Discord_MDT "https://discord.com/api/webhooks/1475889346874839121/K71kpLIxRR4wGJKh2Tnjqrob2oN609byCIl5EA4aov_hhVvWUzqxQiAZcrfqn7C4fzpx"
setr Discord_EMS "https://discord.com/api/webhooks/1475889346874839121/K71kpLIxRR4wGJKh2Tnjqrob2oN609byCIl5EA4aov_hhVvWUzqxQiAZcrfqn7C4fzpx"
setr Discord_FREECAM "https://discord.com/api/webhooks/1475889346874839121/K71kpLIxRR4wGJKh2Tnjqrob2oN609byCIl5EA4aov_hhVvWUzqxQiAZcrfqn7C4fzpx"
setr Discord_Identity "https://discord.com/api/webhooks/1475889346874839121/K71kpLIxRR4wGJKh2Tnjqrob2oN609byCIl5EA4aov_hhVvWUzqxQiAZcrfqn7C4fzpx"